{% extends "base.html" %}
{% load static %}

{% block title %} Tables {% endblock %}


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
      <div class="mb-3 mb-lg-0">
        <h1 class="h4">Redactors list</h1>
      </div>
      <div>
        <a href="#" class="btn btn-primary link-to-page">
          Create
        </a>
      </div>
    </div>
  </div>

    {% include "includes/search_form.html" %}

  <div class="card border-0 shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
          <thead class="thead-light">
          <tr>
            <th class="border-0 rounded-start">ID</th>
            <th class="border-0">Username</th>
            <th class="border-0">First Name</th>
            <th class="border-0">Last Name</th>
            <th class="border-0">Years of expirience</th>
          </tr>
          </thead>
          <tbody>
          {% for redactor in redactor_list %}
            <tr>
              <td>
                <a href="{% url 'newspaper:redactor-detail' pk=redactor.id %}">{{ redactor.id }}</a>
              </td>
              <td>
                <a href="{% url 'newspaper:redactor-detail' pk=redactor.id %}">{{ redactor.username }}</a>
              </td>
              <td>
                <a href="{% url 'newspaper:redactor-detail' pk=redactor.id %}">{{ redactor.first_name }}</a>
              </td>
              <td>
                <a href="{% url 'newspaper:redactor-detail' pk=redactor.id %}">{{ redactor.last_name }}</a>
              </td>
              <td>
                <a href="{% url 'newspaper:redactor-detail' pk=redactor.id %}">{{ redactor.years_of_experience }}</a>
              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
