{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
      <div class="mb-3 mb-lg-0">
        <h1 class="h4">Newspapers list</h1>
      </div>
      <div>
        <a href="#" class="btn btn-primary link-to-page">
          Create
        </a>
      </div>
    </div>
  </div>

  <div class="card border-0 shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
          <thead class="thead-light">
          <tr>
            <th class="border-0 rounded-start">ID</th>
            <th class="border-0">Title</th>
            <th class="border-0">Content</th>
            <th class="border-0">Published Date</th>
            <th class="border-0">Topic</th>
            <th class="border-0">Publishers</th>
          </tr>
          </thead>
          <tbody>
          {% for newspaper in newspaper_list %}
            <tr>
              <td>
                <a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}">{{ newspaper.id }}</a>
              </td>
              <td>
                <a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}">{{ newspaper.title }}</a>
              </td>
              <td>
                <a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}">{{ newspaper.content|truncate_words }}</a>
              </td>
              <td>
                <a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}">{{ newspaper.published_date }}</a>
              </td>
              <td>
                {{ newspaper.topic }}
              </td>
              <td>
                {% for publisher in newspaper.publishers.all %}
                  <a href="{% url 'newspaper:redactor-detail' pk=publisher.id %}">{{ publisher.username }}{% if not forloop.last %}, {% endif %}></a>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
